/* Setup basics CSS */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}
html {
	font-size: 62.5%; /* 1rem = 10px */
}
body {
	font-family: "Lato", sans-serif;
	line-height: 1;
	font-weight: 400;
}
a {
	text-decoration: underline;
}
img {
	display: block;
	max-width: 100%;
}
button {
	cursor: pointer;
}
input,
textarea,
button {
	outline: none;
	box-shadow: none;
	font-family: "Lato", sans-serif;
}
/* Your style start from here */
.wrapper{
	font-size: 'Roboto', sans-serif;
	max-width: 160rem;
	margin: 0 auto;
}
:root{
	--primary: #70c6a6;
	--heading: #353738;
	--text: #848789;
	--input-border: #d3d7d9;
	--input-text: #929292;
	--bg-light: #f7f7f7;
	--bg-dark: #1a1c28;
}
.header{
	height: 80rem;
	background-image: url(../images/img-bg-header.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	display: flex;
	justify-content: center;
}
nav{
	margin-top: 3rem;
}
.nav__list{
	display: flex;
	align-items: center;
}
.nav__item{
	padding-right: 4rem;
	padding-left: 4rem;
	position: relative;
}
.nav__link{
	position: relative;
	font-size: 1.3rem;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--heading);
	cursor: pointer;
	text-decoration: none;
}
.nav__item:first-child:after, .nav__item:nth-child(4):after{
	position: absolute;
	content: ".";
	bottom: 0;
	right: 0;
	font-size: 2rem;
}
.feature__header{
	padding: 11rem 1.5rem 14rem;
	background-color: var(--bg-light);
}
.feature__img-top{
	margin: 0 auto 3rem;
}
.feature_heading{
	font-size: 1.8rem;
	line-height: 1.6;
	text-transform: uppercase;
	color: var(--heading);
	margin-bottom: 2rem;
	font-weight: bold;
	text-align: center;
}
.feature__header-desc {
	font-size: 1.8rem;
	line-height: 1.6;
	color: var(--text);
	max-width: 106rem;
	margin: 0 auto;
	text-align: center;
}
.feature__item{
	display: flex;
	flex-flow: row wrap;
	height: 60rem;
	overflow: hidden;
}
.feature_item-img{
	position: relative;
	width: 67%;
	height: 100%;
}
	.feature__item-content{
		width: 33%;
	}
.img__bg{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.img__brand{
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.feature__item-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.feature__item-content-top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 7rem;
	position: relative;
	background-color: white;
	height: 67%;
}
.feature__item-text {
	font-size: 1.6rem;
	line-height: 1.6;
	color: var(--text);
	text-align: justify;
	position: relative;
	padding-bottom: 3rem;
}
.feature__item-content-bottom {
	height: 33%;
}
.feature__item:nth-child(2)  .feature_item-img{
	order: 2;
}
.feature__item:last-child > .feature_item-img {
	width: 33%;
}
.feature__item:last-child > .feature__item-content {
	width: 34% ;
}
.feature__item-content-top:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 2rem;
	height: 2rem;
	background-color: white;
	z-index: 10;
	transform: translate(-50%, 50%) rotate(-45deg);
}
.feature__item-text:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 6rem;
	height: 1px;
	background-color: var(--bg-light);
}
.tweet{
	padding: 11rem 1.5rem 14rem;
	background-color: var(--bg-light);
	text-align: center;
}
.tweet__icon{
	color: #00aefd;
	margin-bottom: 3rem;
	font-size: 4rem;
}
.tweet__heading{
	font-size: 1.8rem;
	margin-bottom: 2rem;
}
.tweet__author, .tweet__location{
	font-weight: bold;
	color: var(--heading);
}
.tweet__time{
	position: relative;
	color: var(--text);
	font-weight: 300;
	padding-left: 1.5rem;
	margin-left: 1.5rem;
}
.tweet__time:before{
	content: "/";
	position: absolute;
	left: 0;
	top: 0;
}
.tweet__content{
	color: var(--text);
	font-size: 2.5rem;
	max-width: 104.5rem;
	margin: 2rem auto 10rem;
	font-style: italic;
}
.tweet__pagi{
	display: flex;
	align-items: center;
	justify-content: center;
}
.tweet__pagi-item{
	width: 1.5rem;
	height: 1.5rem;
	border: 1px solid var(--text);
	margin-left: .5rem;
	margin-right: .5rem;
	border-radius: 5rem;
}
.tweet__pagi-item.is-active{
	background-color: var(--text);
}
.images{
	height: 53.5rem;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.images__block{
	width: 33.333%;
	height: 100%;
	display: flex;
}
.images__block:first-child{
	flex-direction: column;
}
.images__block-item{
	height: 50%;
	width: 100%;
}
.images__block-item:first-of-type{
	display: flex;
}
.images__item{
	width: 50%;
	height: 100%;
}
.images__block-item:last-of-type .images__item {
	width: 100%;
}
.images__block:last-child {
	flex-direction: column-reverse;
}
.images__item-bg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.images__item{
	position: relative;
}
.images__item:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #70c6a6c9;
	z-index: 10;
	display: none;
}
.images__item-brand{
	z-index: 20;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
	text-align: center;
	display: none;
}
.images__item-brand > img{
	margin: 0 auto;
}
.images__item-text {
	text-transform: uppercase;
	color: white;
	font-size: 1.6rem;
	margin-top: .5rem;
	font-weight: bold;
}
.images__item:hover:before,
.images__item:hover .images__item-brand {
	display: block;
}
.discovery__container{
	padding: 7rem 1.5rem;
	background-color: var(--bg-dark);
	text-align: center;
}
.discovery__btn{
	display: inline-block;
	min-width: 30rem;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.3rem;
	font-weight: bold;
	color: white;
	padding: 2rem ;
	border: 1px solid white;
	transition: .2s linear;
}
.discovery__btn:hover{
	background-color: #70c6a6c9;
	border-color: #70c6a6c9;
}
.mail{
	padding: 10rem 1.5rem;
	background: white;
	text-align: center;
}
.mail__logo{
	margin: 0 auto 3.5rem;
}
.mail__text{
	font-size: 2.4rem;
	color: var(--text);
	margin-bottom: 3.5rem;
	font-style: italic;
}
.mail__form{
	display: flex;
	justify-content: space-between;
	max-width: 54rem;
	margin: 3.5rem auto;
}
.mail__form-inp{
	width: 74%;
	border: 1px solid var(--input-border);
	color: var(--input-text);
	padding: 2.5rem;
	font-size: 2rem;
	font-style: italic;
}
.mail__form-btn{
	width: 25%;
	border: none;
	background-color: #70c6a6;
	color: white;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 300;
}
